@font-face {
    font-family: 'MycustomFont';
    src: url(../assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format('woff2'), 
         url(../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf) format('woff');

    font-weight: 400;
    font-style: normal;

}
:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

/* globales */
body {
    font-family: 'MycustomFont';
    color: var(--black);
    background-color: whitesmoke;
    min-height: 100vh;      
    display: flex;          
    flex-direction: column; 
    margin: 0;              
}

img {
    max-width: 100%;
    display: block;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}


.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: 400px;
    overflow: hidden; 
}

/* estilo cajas globales */

.item1 {
    background-color: var(--purple-500);
    border-radius: 1.5rem;
} 
.item2 {
    background-color: var(--white);
    border-radius: 1.5rem;
}
.item3 {
    background-color: var(--yellow-500);
    border-radius: 1.5rem;
}
.item4 {
    background-color: var(--purple-100);
    border-radius: 1.5rem;
}
.item5 {
    background-color:var(--purple-500) ;
    border-radius: 1.5rem;
}
.item6 {
    background-color: var(--white);
    border-radius: 1.5rem;
}
.item7 {
    background-color: var(--yellow-100);
    border-radius: 1.5rem;
}
.item8 {
    background-color: var(--yellow-500);
    border-radius: 1.5rem;
}



/* grid */
@media (min-width: 888px) {

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 0.9rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: auto; 
}

/* bloques del bento */

/* bloque principal en medio */
.item1 {
    grid-column: 2 / 4;
    grid-row: 1 / span 12;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 13 / span 9;
}

/* bloques peque単os que van en medio */
.item3 {
     grid-column:3 / 4 ;
     grid-row: 13 / span 9;
    
}
.item4 {
    grid-column: 4 / 5;
    grid-row: 1 / 22;
    
}

/* bloque grande abajo */
.item5 {
    grid-column: 3 / 5;
    grid-row: 22 /span 9;
}

.item6 {
    grid-column: 2 / 3;
    grid-row: 22 / span 9;
}
/* bloques de la izquierda */
.item7 {
    grid-column: 1 / 2;
    grid-row: 1 / span 15;

}
.item8 {
    grid-column: 1 / 2;
    grid-row: 16 / span 15;
}

}
/* estilos de los bloques */

/* bloque principal */
.item1 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.item1__titulo {
    color: var(--white);
    padding: 0 2rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1;
}
.item1__titulo--dorado {
    color: var(--yellow-500);
}

.item1__img {
    margin:0 auto;
    width: 20rem;
}

.item1__texto {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

/* cajas peque単as del centro */
.item2 {
    padding: 1rem ;
}
.item2__titulo {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
}

/* #2 caja del centro */
.item3 {
    padding: 2rem 2rem 0 2rem;
}

.item3__titulo {
    font-size: 2.8rem;
    line-height: 1;
    padding-right: 2rem;
    margin: 1rem 0;
}

.item3__container--imagen {
    width: 22rem;
    height: 15rem;
    overflow: hidden;
    object-position: left;
}

.item3__imagen{
    margin-top: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
    display: block;
}

/* bloque de la deracha */
.item4 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.item4__titulo {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.8rem;
    line-height: 1;
}
.item4__container--imagen {
    width: 100%;
}
.item4__imagen {
    width: 100%;
    height: 100%;
    display: block;
}

.item4__texto {
    font-size: 1.9rem;
    margin-top: 2.8rem;
    line-height: 1;
    text-align: center;
}

/* Bloque grande abajo */
.item5 {
    padding: 2rem;
}
.item5__contenido {
    display: grid;
    align-items: center;
    justify-items: center;
}
.item5__titulo {
    color: var(--white);
    line-height: 1;
    font-size: 3rem;
    text-align: center;
    padding: 0 3rem;
    margin: 0;
}
.item5__imagen {
    width: 22rem;
}

/* caja peque単a de abajo */
.item6 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.item6__titulo {
    font-size: 5em;
    margin: 0;
}

.item6__texto {
    font-size: 1.7rem;
    margin-top: 0.5rem;
}

.item6__imagen {
    margin-top: 1.2rem;
    width: 16rem;
}

/* bloques de la izquierda */

.item7 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.item7__titulo {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1;
}

.item7__titulo--morado {
    color: var(--purple-500);
}

.item7__imagen{
    width: 18rem;
}


.item8 {
    background-color: var(--yellow-500);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.item8__titulo {
    font-size: 3rem;
    line-height: 1;
}

.item8__imagen {
    width: 22rem;
}

/* para destock */
@media (min-width: 888px) {
    
.item1__titulo {
    color: var(--white);
    padding: 0 3rem;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1;
}

/* cajas peque単as del centro */
.item2 {
    padding: 2rem ;
}

.item2__container--imagen {
    width: 100%;
    height: 6.5rem;
    overflow: hidden;
    border-radius: 5rem;    
}
.item2__imgen{
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    padding-left: 2rem;
}

.item2__titulo {
    font-size: 2.5rem;
    line-height: 1;
    padding-right: 6rem;
}

/* #2 caja del centro */

.item3 {
    padding: 2rem 2rem 0 2rem;
}

.item3__titulo {
    font-size: 2.5rem;
    line-height: 1;
    padding-right: 6rem;
    margin: 1.1rem 0;
}

.item3__container--imagen {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.item3__imagen{
    width: 120%;
    height: auto;
    object-fit: cover;
    object-position: top;
    display: block;
}




/* bloque de la deracha */
.item4 {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2rem;
}

.item4__titulo {
    text-align: left;
    padding-right: 2rem;
    font-size: 3rem;
    margin-bottom: 2.8rem;
    line-height: 1;

}

.item4__container--imagen {
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.item4__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    display: block;
}

.item4__texto {
    text-align: left;
    font-size: 1.7rem;
    margin-top: 2.8rem;
    line-height: 1;
    padding: 0 7rem 0 0;
}

/* Bloque grande abajo */
.item5 {
    padding: 2rem 2rem 3rem 2rem;
}
.item5__contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.item5__titulo {
    color: var(--white);
    line-height: 1;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}
.item5__imagen {
    width: 24rem;

}

/* bloques de la izquierda */

.item7 {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
}

.item7__titulo {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1;
}

.item8 {
    background-color: var(--yellow-500);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
}

.item8__titulo {
    font-size: 3.5rem;
    padding: 0 4rem 2.5rem 0rem;
    line-height: 1;
    margin: 2rem 0 1rem 0;
}  
}

footer {
    width: 100%;       
    text-align: center; 
    padding: 2rem;   
}